* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    text-align: center;
    margin: 12px;
    padding: 12px;
}

h1 {
    background-color: darkblue;
    color: rgb(211, 211, 211);
}

input {
    text-align: center;
    margin: 10px;
}

.container {
    display: flex;
    justify-content: center;
}

.result__grade {
    background-color: brown;
    text-align: center;
    font-size: 45px;
    margin: 12px;
    padding: 20px;
    color: rgb(238, 226, 226);
}